<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ProjectHub Login</title>
  <link rel="stylesheet" href="../login.css">
  <link rel="icon" href="./img/fav.png">
</head>
<body>

  <div class="container">
    <h1 class="title">ProjectHub</h1>

    <button class="back-btn" onclick="goHome()">🏠 Back to Home</button>

    <div class="card">
      <h2>Welcome Back</h2>
      <p class="subtitle">Sign in to your account to continue</p>

      <p>I am a</p>

      <div class="role-toggle">
        <div class="role active" data-role="student">Student</div>
        <div class="role" data-role="instructor">Instructor</div>
      </div>

      <form method="POST" action="/login">
        <input type="hidden" name="role" id="role" value="student">
        <label>Email Address</label>
        <input type="email" name="email" placeholder="you@example.com">

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter your password">

        <button type="submit" class="signin-btn">Sign In</button>
      </form>

      <p class="signup-text">
        Don't have an account? <a id="createAccount">Sign up</a>
      </p>

      <div class="admin-box">
        <span>🔐 Are you an admin?</span>
        <button class="admin-btn">Admin Login</button>
      </div>
    </div>
  </div>


  <script>
    const roles = document.querySelectorAll('.role'); 
    const input = document.getElementById('role');    

    roles.forEach(div => {
      div.addEventListener("click", () => {

        const role = div.dataset.role;
        input.value = role;

        // remove active from all
        roles.forEach(r => r.classList.remove('active'));

        // add active to clicked one
        div.classList.add('active');
      });
    });

    const signup = document.getElementById('createAccount');
    signup.addEventListener("click" , (event)=>{
      event.preventDefault();
      window.location.href = '/signup';
    });

  function goHome(){
   window.location.href = '/';
  }

  </script>


</body>
</html>