<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../student-home.css">

</head>
<body>

    <!-- Navbar -->
    <nav>
        <a href="/student/projects">Create Project</a>
        <a href="/announcements">Announcements</a>
        <a href="/announcements/api">Create announcement</a>
        <a href="/projects">Projects</a>
        <a href="/applications">Applications</a>
        <a href="/advisor">Advisor</a>
        <a href="/applicants">Applicants</a>
        <a href="/logout" style="margin-left:auto; background-color:#e74c3c;">Logout</a>
    </nav>

    <!-- Content -->
    <div class="container">
        <h2>Welcome to Dashboard</h2>
        <p>Select an option from the navigation bar.</p>
    </div>

</body>
</html>