<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>400 Bad Request</title>
    <link rel="stylesheet" href="/auth-styling/400.css">
</head>
<body>
    <div class="container">
        <h1>400</h1>
        <h2><%= error %></h2>
        <p><%= message %></p>

        <a href="/">Go Back Home</a>
    </div>
</body>
</html>