<h1>Categories</h1>

<% if (categories && categories.length > 0) { %>

    <% categories.forEach(cat => { %>

        <div style="margin-bottom: 20px;">

            <h3><%= cat.category_name %></h3>

            <p><strong>Description:</strong> <%= cat.category_description %></p>

            <p><strong>Created At:</strong> 
                <%= cat.created_at %>
            </p>

            <a style="background-color: rgb(94, 94, 94);color: white; padding: 7px;"  href="/admin/categories/add">Add category</a>
            <a style="background-color: rgb(94, 94, 94);color: white; padding: 7px;"  href="/admin/categories/<%= cat.category_id%>/delete">Delete category</a>

        </div>

        <hr>

    <% }) %>

<% } else { %>

    <p>No categories found.</p>
     <a style="background-color: rgb(94, 94, 94);color: white; padding: 7px;"  href="/admin/categories/add">Add category</a>

<% } %>