<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" href="/img/fav.png">
    <link rel="stylesheet" href="/styling/admin-login.css">
</head>
<body>

    <div class="container">
        <h1>Admin</h1>

        <form action="/admin/dashboard" method="post">
            <input type="email" name="email" placeholder="Enter your email "><br>
            <input type="password" name="password" placeholder="Enter your password"><br><br>

            <div class="btn-group">
                <button type="submit">log-in</button>
                <button type="reset">Reset</button>
            </div>
        </form>
    </div>

</body>
</html>