<form action="/student/requests/<%= advisorId %>/advisors" method="POST">

    <label>Project:</label><br>
    <select name="projectId" required>
        <!-- Placeholder -->
        <option value="" disabled selected>Choose a project</option>

        <% if (projects && projects.length > 0) { %>
            <% projects.forEach(project => { %>
                <option value="<%= project.project_id %>">
                    <%= project.project_title %>
                </option>
            <% }) %>
        <% } else { %>
            <option disabled>No projects available</option>
        <% } %>

    </select>
    <br><br>


    <label>Message to Advisor:</label><br>
    <textarea name="message" rows="5" cols="40" required></textarea>
    <br><br>

    <!-- Meeting Method -->
    <label>Meeting Method:</label><br>
    <select name="meetingMethod" required>
        <option value="online">Online</option>
        <option value="in person">In Person</option>
    </select>
    <br><br>


    <button style="background-color: rgb(103, 103, 255); color: white;" type="submit">Send Request</button>
</form>